<form [formGroup]="studentForm" (ngSubmit)="onSubmit(studentForm.value)">
<h2 mat-dialog-title>Student form</h2>
<mat-dialog-content class="mat-typography">

<div>
<mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Harry" type="text" formControlName="firstName" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Styles" type="text" formControlName="lastName" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Birth Year</mat-label>
    <input matInput placeholder="1994" type="text" formControlName="birthYear" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Class</mat-label>
        <mat-select formControlName="class">
          <mat-option *ngFor="let class of classes" [value]="class" required>
              {{class}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>

</mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button type="submit" cdkFocusInitial [disabled]="!studentForm.valid">Ajout</button>
  </mat-dialog-actions>

</form>